<div class="main-container">
  <div class="profile-column">
    <div class="profile-avatar">
      <% if @candidacy.photo.attached? %>
        <%= cl_image_tag(@candidacy.photo.key, secure: true, width: 340, height: 340, class: 'business-show-logo') %>
      <% else %>
        <div class="rounded-lg d-flex justify-content-center align-items-center text-uppercase">
          <p class="font-weight-bold m-0 default-image"><%= @candidacy.initials %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card text-center profile-card sector">
    <h6 class="text-justify font-weight-bold text-center">
      Sector:
    </h6>
    <h6 class="text-justify text-center">
      <%= @candidacy.sector.name %>
    </h6>
  </div>
  <div class="card text-center profile-card organization">
    <h6 class="font-weight-bold text-center">
      Organización:
    </h6>
    <h6 class="text-center">
      <%= @candidacy.organization %>
    </h6>
  </div>
  <div class="card text-center profile-card expertise">
    <div class="card-body">
      <div class="card-title">
        <h1 class="font-weight-bold">
          <%= "#{@candidacy.name} #{@candidacy.last_name}" %>
        </h1 class="font-weight-bold">
      </div>
      <div class="card-description text-justify">
        <p>
          <%= @candidacy.expertise %>
        </p>
      </div>
    </div>
  </div>
  <div class="card card text-center profile-card value_proposition">
    <div class="card-body">
      <div class="card-title">
        <h6 class="font-weight-bold">
          Propuesta de aporte al Consejo Consultivo departamental de mujeres
        </h6 class="font-weight-bold">
      </div>
      <div class="card-description text-justify">
        <p>
          <%= @candidacy.value_proposition %>
        </p>
      </div>
    </div>
  </div>
</div>


