<div class="candidacy-cards-container">
  <div class="container ">
    <div class="volver-btn d-flex align-items-center">
      <%= render 'shared/go-back-link-sectors'%>
    </div>
    <h1 class="text-center">
      <% if @candidacies.count.positive? %>
        Candidatas de <strong> <%= @candidacies.first.sector.name %> </strong>
      <% else %>
        Este sector no cuenta con candidaturas
      <% end %>
    </h1>
    <hr>
    <div class="row">
      <% @candidacies.each do |cand| %>
        <%= link_to votation_candidacy_path(cand), class:"col-xs-12 col-sm-6 card-text-black" do  %>
          <div class="card-candidacy grow">
            <%= image_tag cand.photo %>
            <div class="card-candidacy-infos">
              <h4><%= "#{cand.name.titleize} #{cand.last_name.titleize}" %></h4>
              <h2><%=  cand.sector.name %></h2>

              <p><%= "#{cand.value_proposition[0..100].capitalize}..." %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
