<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_gob.jpg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if entity_signed_in? %>
        <% if current_candidate.candidacy %>
          <%= link_to "Editar Candidatura", edit_candidacy_path(current_candidate.candidacy), class: "nav-link" %>
        <% else %>
          <%= link_to "Crear Candidatura", new_candidacy_path, class: "nav-link" %>
        <% end %>
        <%= link_to "Cerrar Sesión", destroy_candidate_session_path, method: :delete, class: "nav-link" %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Iniciar Sesión", new_candidate_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
