<div class="home-container-plain">

  <div class="container p-4">
  <h2 class="mb-4" > Diligencie la información para registrar su voto</h2>

  <%= simple_form_for [:votation, @candidacy, @vote],
  wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select
  }  do |f| %>

    <div class="form-inputs">
      <%= f.input :voter_full_name %>
      <%= f.input :voter_tid %>
      <%= f.input :document_expedition, as: :date, start_year: Date.today.year - 100,
                              end_year: Date.today.year, hint: "Estos datos deben corresponder con los consignados en la Registraduría Nacional del Estado Civil, en caso de no encontrar correspondencia se procederá con la respectiva notificación a las autoridades competentes para su investigación, bajo los artículos 287 y 289 de la Ley 599 de 2000. Falsedad en documento. "%>
      <%= f.input :voter_email %>
      <%= f.input :voter_phone %>
      <%= f.association :municipality, collection: @municipalities, label: "Municipio de residencia" %>
      <%= f.association :sector, collection: @sectors, label: "Sector al que pertenece" %>
      <%= f.input :organization, label: "Organización a la que pertenece" %>

    <div class="form-actions mb-4 mt-4">
      <%= f.button :submit, "Registrar voto", class:"btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
